
@{

    var noData = TempData["noData"];
    var sData = TempData["searchData"];
    var SpecialityNotFound = TempData["SpecialityNotFound"];
    var NotFound = TempData["NotFound"];
    var nameNotFound = TempData["nameNotFound"];

}
@model List<Doctor>
<div class="container p-1">
    @*<div class="row p-1">       *@
    <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      
    <h1 class="navbar-brand">Doctor</h1>

            <form method="post" class="d-flex">
                <select class="form-control me-2" name="spname">
                    <option value="">Search Speciality</option>

                    @foreach(var data in Model)
                    {
                        <option value="@data.Speciality" class="form-control">@data.Speciality</option>

                    }
                    @*<option disabled>Search Speciality</option>
                    <option name="sname" id="sname" class="form-control">Cardiac Sciences</option>
                    <option name="sname" id="sname" class="form-control">Haematology</option>
                    <option name="sname" id="sname" class="form-control">Paediatric Haematology and BMT</option>
                    <option name="sname" id="sname" class="form-control">Dermatology</option>
                    <option name="sname" id="sname" class="form-control">Diabetology/Endocrinology</option>
                    <option name="sname" id="sname" class="form-control">ENT</option>
                    <option name="sname" id="sname" class="form-control">Gastroenterology & Hepatobiliary Science</option>
                    <option name="sname" id="sname" class="form-control">Infectious Diseases</option>
                    <option name="sname" id="sname" class="form-control">Internal Medicines</option>
                    <option name="sname" id="sname" class="form-control">Mental Health And Behavioural Science</option>
                    <option name="sname" id="sname" class="form-control">Nephrology</option>
                    <option name="sname" id="sname" class="form-control">Neurology</option>

*@

                </select>
                
                <input class="form-control me-2" type="text" name="name"  placeholder="Search Doctor" aria-label="Search">
                <button type="submit" class="btn btn-outline-success" asp-controller="Doctor" asp-action="Search">Search</button>
                
    </form>
  </div>
</nav>
        @*<div class="col-6">
            <a asp-controller="Doctor" asp-action="Create" class="btn btn-info">Add New Doctor</a>
        </div>*@
        @*</div>*@
    @*</div>*@
</div>
<form method="post">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> Id </th>
                <th> Doctor Name </th>
                <th> Age </th>
                <th> Gender</th>
                <th> Experience </th>
                <th> Fees</th>
                <th> Speciality</th>
                <th>Starting Time</th>
                <th>Ending Time</th>
                <th>Book Appointment</th>

            </tr>
        </thead>
        <tbody>
            
            @if(NotFound != null)
            {
                <p class="float-end">@NotFound</p>
            }
            @if(nameNotFound != null)
            {
                <p class="float-end">@nameNotFound</p>
            }
            @if (SpecialityNotFound != null)
            {
                <p class="float-end">@SpecialityNotFound</p>

            }

           
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.DoctorId
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Age
                        </td>
                        <td>
                            @item.Gender
                        </td>
                        <td>
                            @item.Experience
                        </td>
                        <td>
                            @item.Fees
                        </td>
                        <td>
                            @item.Speciality
                        </td>
                        <td>
                            @item.StartTime
                        </td>
                        <td>
                            @item.EndTime
                        </td>
                        <td>
                            @*<button type="submit" class="btn btn-outline-warning" asp-controller="Speciality" asp-action="View Profile">Book</button>*@
                            <button type="submit" class="btn btn-outline-warning" asp-route-id="@item.DoctorId" asp-controller="Book" asp-action="Book">Book</button>
                        </td>
                    </tr>
                }
                
            }
            else
            {
                <tr>
                    <td>No Data</td>
                </tr>
            }
        </tbody>
    </table>
</form>


